<p>
  <b>Forum name: <%= @forum.first.name %></b>
</p>

<% if !@forum.first.topics.blank? %>
<h2> Topics: </h2>
  <table>
    <% @forum.first.topics.each do |a| %>
      <tr id="topic_<%= a.id %>">
        <td><%= link_to a.title, topic_path(a) %></td>
        <td><%= link_to 'Edit', edit_topic_path(a) %></td>
        <td><%= link_to 'Destroy', [@forum.first, a], method: :delete, remote: true, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <h3>No Topics...</h3>
<% end %>

<p>
  <%= link_to 'Add topics', new_forum_topic_path(@forum.first) %> | <%= link_to 'All Forums', forums_path %>
</p>
