<h1>Edit Topic</h1>

<p>
  <%= form_for @topic do |f| %>

    <% if @topic.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@topic.errors.count, "error") %> prohibited
          this user from being saved:</h2>
        <ul>
          <% @topic.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <table>
      <tr>
        <td><%= f.label :title %></td>
        <td><%= f.text_field :title %></td>
      </tr>

      <tr class="field">
        <td><%= f.label :tag_list, "Tags (separated by commas)" %></td>
        <td><%= f.text_field :tag_list %></td>
      </tr>

      <%= f.hidden_field :forum_id, value: params[:forum_id] %>

      <tr>
        <td><%= f.submit %></td>
      </tr>
    </table>

  <% end %>
</p>

<p>
<% if params[:forum_id].present? %>
  <%= link_to 'Back', forum_path(params[:forum_id]) %>
<% else %>
  <%= link_to 'All Forums', forums_path %>
<% end %>
</p>
