<p>All Tags:
  <% tag_cloud Topic.tag_counts, %w[s m l] do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</p>

<p>
  <b>Topic title: <%= @topic.first.title %></b> 
</p>
<p>Tags: <%= raw @topic.first.tag_list.map { |t| link_to t, "/topics/tag/#{t}" }.join(', ') %></p>  

<%= render 'comments/comments' %>

<%= render 'comments/form' %>

<%= link_to 'Back', forum_path(@forum) %>

